@media (min-width: 800px) {

.map {
  left: 300px;
  width: calc(100% - 300px);
}

.map-info {
  width: 500px;
}

.map-list {
  left: 0px;
  width: 300px;
  background-color: #eee;
}

@keyframes popup_animation {
    from {top: -90%;}
    to {top: 20px;}
}

.mapboxgl-popup {
  top: 20px;
  left: 320px;
  min-width: 500px;
}

.map-list-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.map-help {
  font-size: 20px;
  left: 310px;
}

.map-geolocate {
  right:calc(50% - 297px);
}

.map-reset {
  right:calc(50% - 338px);
}

}

@media (min-width: 500px) {
  .mapboxgl-popup-close-button {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}
